.traliva__stub_widget{
    background-repeat: repeat;
}
.traliva__stub_widget__text{
    display: inline-block;
    color: yellow;
    background: black;
    padding: 2px 4px;
    border: 1px solid yellow;
    border-radius: 5px;
}
/*color 0*/
.traliva__stub_widget.bg-0-0-0{background-image: url("_widget_stub_bg/0-0-0.png");}
.traliva__stub_widget.bg-0-0-1{background-image: url("_widget_stub_bg/0-0-1.png");}
.traliva__stub_widget.bg-0-0-2{background-image: url("_widget_stub_bg/0-0-2.png");}
.traliva__stub_widget.bg-0-0-3{background-image: url("_widget_stub_bg/0-0-3.png");}
.traliva__stub_widget.bg-0-0-4{background-image: url("_widget_stub_bg/0-0-4.png");}
.traliva__stub_widget.bg-0-0-5{background-image: url("_widget_stub_bg/0-0-5.png");}
.traliva__stub_widget.bg-0-1-0{background-image: url("_widget_stub_bg/0-1-0.png");}
.traliva__stub_widget.bg-0-1-1{background-image: url("_widget_stub_bg/0-1-1.png");}
.traliva__stub_widget.bg-0-1-2{background-image: url("_widget_stub_bg/0-1-2.png");}
.traliva__stub_widget.bg-0-1-3{background-image: url("_widget_stub_bg/0-1-3.png");}
.traliva__stub_widget.bg-0-1-4{background-image: url("_widget_stub_bg/0-1-4.png");}
.traliva__stub_widget.bg-0-1-5{background-image: url("_widget_stub_bg/0-1-5.png");}
.traliva__stub_widget.bg-0-2-0{background-image: url("_widget_stub_bg/0-2-0.png");}
.traliva__stub_widget.bg-0-2-1{background-image: url("_widget_stub_bg/0-2-1.png");}
.traliva__stub_widget.bg-0-2-2{background-image: url("_widget_stub_bg/0-2-2.png");}
.traliva__stub_widget.bg-0-2-3{background-image: url("_widget_stub_bg/0-2-3.png");}
.traliva__stub_widget.bg-0-2-4{background-image: url("_widget_stub_bg/0-2-4.png");}
.traliva__stub_widget.bg-0-2-5{background-image: url("_widget_stub_bg/0-2-5.png");}
.traliva__stub_widget.bg-0-3-0{background-image: url("_widget_stub_bg/0-3-0.png");}
.traliva__stub_widget.bg-0-3-1{background-image: url("_widget_stub_bg/0-3-1.png");}
.traliva__stub_widget.bg-0-3-2{background-image: url("_widget_stub_bg/0-3-2.png");}
.traliva__stub_widget.bg-0-3-3{background-image: url("_widget_stub_bg/0-3-3.png");}
.traliva__stub_widget.bg-0-3-4{background-image: url("_widget_stub_bg/0-3-4.png");}
.traliva__stub_widget.bg-0-3-5{background-image: url("_widget_stub_bg/0-3-5.png");}
.traliva__stub_widget.bg-0-4-0{background-image: url("_widget_stub_bg/0-4-0.png");}
.traliva__stub_widget.bg-0-4-1{background-image: url("_widget_stub_bg/0-4-1.png");}
.traliva__stub_widget.bg-0-4-2{background-image: url("_widget_stub_bg/0-4-2.png");}
.traliva__stub_widget.bg-0-4-3{background-image: url("_widget_stub_bg/0-4-3.png");}
.traliva__stub_widget.bg-0-4-4{background-image: url("_widget_stub_bg/0-4-4.png");}
.traliva__stub_widget.bg-0-4-5{background-image: url("_widget_stub_bg/0-4-5.png");}
/*color 1*/
.traliva__stub_widget.bg-1-0-0{background-image: url("_widget_stub_bg/1-0-0.png");}
.traliva__stub_widget.bg-1-0-1{background-image: url("_widget_stub_bg/1-0-1.png");}
.traliva__stub_widget.bg-1-0-2{background-image: url("_widget_stub_bg/1-0-2.png");}
.traliva__stub_widget.bg-1-0-3{background-image: url("_widget_stub_bg/1-0-3.png");}
.traliva__stub_widget.bg-1-0-4{background-image: url("_widget_stub_bg/1-0-4.png");}
.traliva__stub_widget.bg-1-0-5{background-image: url("_widget_stub_bg/1-0-5.png");}
.traliva__stub_widget.bg-1-1-0{background-image: url("_widget_stub_bg/1-1-0.png");}
.traliva__stub_widget.bg-1-1-1{background-image: url("_widget_stub_bg/1-1-1.png");}
.traliva__stub_widget.bg-1-1-2{background-image: url("_widget_stub_bg/1-1-2.png");}
.traliva__stub_widget.bg-1-1-3{background-image: url("_widget_stub_bg/1-1-3.png");}
.traliva__stub_widget.bg-1-1-4{background-image: url("_widget_stub_bg/1-1-4.png");}
.traliva__stub_widget.bg-1-1-5{background-image: url("_widget_stub_bg/1-1-5.png");}
.traliva__stub_widget.bg-1-2-0{background-image: url("_widget_stub_bg/1-2-0.png");}
.traliva__stub_widget.bg-1-2-1{background-image: url("_widget_stub_bg/1-2-1.png");}
.traliva__stub_widget.bg-1-2-2{background-image: url("_widget_stub_bg/1-2-2.png");}
.traliva__stub_widget.bg-1-2-3{background-image: url("_widget_stub_bg/1-2-3.png");}
.traliva__stub_widget.bg-1-2-4{background-image: url("_widget_stub_bg/1-2-4.png");}
.traliva__stub_widget.bg-1-2-5{background-image: url("_widget_stub_bg/1-2-5.png");}
.traliva__stub_widget.bg-1-3-0{background-image: url("_widget_stub_bg/1-3-0.png");}
.traliva__stub_widget.bg-1-3-1{background-image: url("_widget_stub_bg/1-3-1.png");}
.traliva__stub_widget.bg-1-3-2{background-image: url("_widget_stub_bg/1-3-2.png");}
.traliva__stub_widget.bg-1-3-3{background-image: url("_widget_stub_bg/1-3-3.png");}
.traliva__stub_widget.bg-1-3-4{background-image: url("_widget_stub_bg/1-3-4.png");}
.traliva__stub_widget.bg-1-3-5{background-image: url("_widget_stub_bg/1-3-5.png");}
.traliva__stub_widget.bg-1-4-0{background-image: url("_widget_stub_bg/1-4-0.png");}
.traliva__stub_widget.bg-1-4-1{background-image: url("_widget_stub_bg/1-4-1.png");}
.traliva__stub_widget.bg-1-4-2{background-image: url("_widget_stub_bg/1-4-2.png");}
.traliva__stub_widget.bg-1-4-3{background-image: url("_widget_stub_bg/1-4-3.png");}
.traliva__stub_widget.bg-1-4-4{background-image: url("_widget_stub_bg/1-4-4.png");}
.traliva__stub_widget.bg-1-4-5{background-image: url("_widget_stub_bg/1-4-5.png");}
/*color 2*/
.traliva__stub_widget.bg-2-0-0{background-image: url("_widget_stub_bg/2-0-0.png");}
.traliva__stub_widget.bg-2-0-1{background-image: url("_widget_stub_bg/2-0-1.png");}
.traliva__stub_widget.bg-2-0-2{background-image: url("_widget_stub_bg/2-0-2.png");}
.traliva__stub_widget.bg-2-0-3{background-image: url("_widget_stub_bg/2-0-3.png");}
.traliva__stub_widget.bg-2-0-4{background-image: url("_widget_stub_bg/2-0-4.png");}
.traliva__stub_widget.bg-2-0-5{background-image: url("_widget_stub_bg/2-0-5.png");}
.traliva__stub_widget.bg-2-1-0{background-image: url("_widget_stub_bg/2-1-0.png");}
.traliva__stub_widget.bg-2-1-1{background-image: url("_widget_stub_bg/2-1-1.png");}
.traliva__stub_widget.bg-2-1-2{background-image: url("_widget_stub_bg/2-1-2.png");}
.traliva__stub_widget.bg-2-1-3{background-image: url("_widget_stub_bg/2-1-3.png");}
.traliva__stub_widget.bg-2-1-4{background-image: url("_widget_stub_bg/2-1-4.png");}
.traliva__stub_widget.bg-2-1-5{background-image: url("_widget_stub_bg/2-1-5.png");}
.traliva__stub_widget.bg-2-2-0{background-image: url("_widget_stub_bg/2-2-0.png");}
.traliva__stub_widget.bg-2-2-1{background-image: url("_widget_stub_bg/2-2-1.png");}
.traliva__stub_widget.bg-2-2-2{background-image: url("_widget_stub_bg/2-2-2.png");}
.traliva__stub_widget.bg-2-2-3{background-image: url("_widget_stub_bg/2-2-3.png");}
.traliva__stub_widget.bg-2-2-4{background-image: url("_widget_stub_bg/2-2-4.png");}
.traliva__stub_widget.bg-2-2-5{background-image: url("_widget_stub_bg/2-2-5.png");}
.traliva__stub_widget.bg-2-3-0{background-image: url("_widget_stub_bg/2-3-0.png");}
.traliva__stub_widget.bg-2-3-1{background-image: url("_widget_stub_bg/2-3-1.png");}
.traliva__stub_widget.bg-2-3-2{background-image: url("_widget_stub_bg/2-3-2.png");}
.traliva__stub_widget.bg-2-3-3{background-image: url("_widget_stub_bg/2-3-3.png");}
.traliva__stub_widget.bg-2-3-4{background-image: url("_widget_stub_bg/2-3-4.png");}
.traliva__stub_widget.bg-2-3-5{background-image: url("_widget_stub_bg/2-3-5.png");}
.traliva__stub_widget.bg-2-4-0{background-image: url("_widget_stub_bg/2-4-0.png");}
.traliva__stub_widget.bg-2-4-1{background-image: url("_widget_stub_bg/2-4-1.png");}
.traliva__stub_widget.bg-2-4-2{background-image: url("_widget_stub_bg/2-4-2.png");}
.traliva__stub_widget.bg-2-4-3{background-image: url("_widget_stub_bg/2-4-3.png");}
.traliva__stub_widget.bg-2-4-4{background-image: url("_widget_stub_bg/2-4-4.png");}
.traliva__stub_widget.bg-2-4-5{background-image: url("_widget_stub_bg/2-4-5.png");}
/*color 3*/
.traliva__stub_widget.bg-3-0-0{background-image: url("_widget_stub_bg/3-0-0.png");}
.traliva__stub_widget.bg-3-0-1{background-image: url("_widget_stub_bg/3-0-1.png");}
.traliva__stub_widget.bg-3-0-2{background-image: url("_widget_stub_bg/3-0-2.png");}
.traliva__stub_widget.bg-3-0-3{background-image: url("_widget_stub_bg/3-0-3.png");}
.traliva__stub_widget.bg-3-0-4{background-image: url("_widget_stub_bg/3-0-4.png");}
.traliva__stub_widget.bg-3-0-5{background-image: url("_widget_stub_bg/3-0-5.png");}
.traliva__stub_widget.bg-3-1-0{background-image: url("_widget_stub_bg/3-1-0.png");}
.traliva__stub_widget.bg-3-1-1{background-image: url("_widget_stub_bg/3-1-1.png");}
.traliva__stub_widget.bg-3-1-2{background-image: url("_widget_stub_bg/3-1-2.png");}
.traliva__stub_widget.bg-3-1-3{background-image: url("_widget_stub_bg/3-1-3.png");}
.traliva__stub_widget.bg-3-1-4{background-image: url("_widget_stub_bg/3-1-4.png");}
.traliva__stub_widget.bg-3-1-5{background-image: url("_widget_stub_bg/3-1-5.png");}
.traliva__stub_widget.bg-3-2-0{background-image: url("_widget_stub_bg/3-2-0.png");}
.traliva__stub_widget.bg-3-2-1{background-image: url("_widget_stub_bg/3-2-1.png");}
.traliva__stub_widget.bg-3-2-2{background-image: url("_widget_stub_bg/3-2-2.png");}
.traliva__stub_widget.bg-3-2-3{background-image: url("_widget_stub_bg/3-2-3.png");}
.traliva__stub_widget.bg-3-2-4{background-image: url("_widget_stub_bg/3-2-4.png");}
.traliva__stub_widget.bg-3-2-5{background-image: url("_widget_stub_bg/3-2-5.png");}
.traliva__stub_widget.bg-3-3-0{background-image: url("_widget_stub_bg/3-3-0.png");}
.traliva__stub_widget.bg-3-3-1{background-image: url("_widget_stub_bg/3-3-1.png");}
.traliva__stub_widget.bg-3-3-2{background-image: url("_widget_stub_bg/3-3-2.png");}
.traliva__stub_widget.bg-3-3-3{background-image: url("_widget_stub_bg/3-3-3.png");}
.traliva__stub_widget.bg-3-3-4{background-image: url("_widget_stub_bg/3-3-4.png");}
.traliva__stub_widget.bg-3-3-5{background-image: url("_widget_stub_bg/3-3-5.png");}
.traliva__stub_widget.bg-3-4-0{background-image: url("_widget_stub_bg/3-4-0.png");}
.traliva__stub_widget.bg-3-4-1{background-image: url("_widget_stub_bg/3-4-1.png");}
.traliva__stub_widget.bg-3-4-2{background-image: url("_widget_stub_bg/3-4-2.png");}
.traliva__stub_widget.bg-3-4-3{background-image: url("_widget_stub_bg/3-4-3.png");}
.traliva__stub_widget.bg-3-4-4{background-image: url("_widget_stub_bg/3-4-4.png");}
.traliva__stub_widget.bg-3-4-5{background-image: url("_widget_stub_bg/3-4-5.png");}
/*color 4*/
.traliva__stub_widget.bg-4-0-0{background-image: url("_widget_stub_bg/4-0-0.png");}
.traliva__stub_widget.bg-4-0-1{background-image: url("_widget_stub_bg/4-0-1.png");}
.traliva__stub_widget.bg-4-0-2{background-image: url("_widget_stub_bg/4-0-2.png");}
.traliva__stub_widget.bg-4-0-3{background-image: url("_widget_stub_bg/4-0-3.png");}
.traliva__stub_widget.bg-4-0-4{background-image: url("_widget_stub_bg/4-0-4.png");}
.traliva__stub_widget.bg-4-0-5{background-image: url("_widget_stub_bg/4-0-5.png");}
.traliva__stub_widget.bg-4-1-0{background-image: url("_widget_stub_bg/4-1-0.png");}
.traliva__stub_widget.bg-4-1-1{background-image: url("_widget_stub_bg/4-1-1.png");}
.traliva__stub_widget.bg-4-1-2{background-image: url("_widget_stub_bg/4-1-2.png");}
.traliva__stub_widget.bg-4-1-3{background-image: url("_widget_stub_bg/4-1-3.png");}
.traliva__stub_widget.bg-4-1-4{background-image: url("_widget_stub_bg/4-1-4.png");}
.traliva__stub_widget.bg-4-1-5{background-image: url("_widget_stub_bg/4-1-5.png");}
.traliva__stub_widget.bg-4-2-0{background-image: url("_widget_stub_bg/4-2-0.png");}
.traliva__stub_widget.bg-4-2-1{background-image: url("_widget_stub_bg/4-2-1.png");}
.traliva__stub_widget.bg-4-2-2{background-image: url("_widget_stub_bg/4-2-2.png");}
.traliva__stub_widget.bg-4-2-3{background-image: url("_widget_stub_bg/4-2-3.png");}
.traliva__stub_widget.bg-4-2-4{background-image: url("_widget_stub_bg/4-2-4.png");}
.traliva__stub_widget.bg-4-2-5{background-image: url("_widget_stub_bg/4-2-5.png");}
.traliva__stub_widget.bg-4-3-0{background-image: url("_widget_stub_bg/4-3-0.png");}
.traliva__stub_widget.bg-4-3-1{background-image: url("_widget_stub_bg/4-3-1.png");}
.traliva__stub_widget.bg-4-3-2{background-image: url("_widget_stub_bg/4-3-2.png");}
.traliva__stub_widget.bg-4-3-3{background-image: url("_widget_stub_bg/4-3-3.png");}
.traliva__stub_widget.bg-4-3-4{background-image: url("_widget_stub_bg/4-3-4.png");}
.traliva__stub_widget.bg-4-3-5{background-image: url("_widget_stub_bg/4-3-5.png");}
.traliva__stub_widget.bg-4-4-0{background-image: url("_widget_stub_bg/4-4-0.png");}
.traliva__stub_widget.bg-4-4-1{background-image: url("_widget_stub_bg/4-4-1.png");}
.traliva__stub_widget.bg-4-4-2{background-image: url("_widget_stub_bg/4-4-2.png");}
.traliva__stub_widget.bg-4-4-3{background-image: url("_widget_stub_bg/4-4-3.png");}
.traliva__stub_widget.bg-4-4-4{background-image: url("_widget_stub_bg/4-4-4.png");}
.traliva__stub_widget.bg-4-4-5{background-image: url("_widget_stub_bg/4-4-5.png");}
/*color 5*/
.traliva__stub_widget.bg-5-0-0{background-image: url("_widget_stub_bg/5-0-0.png");}
.traliva__stub_widget.bg-5-0-1{background-image: url("_widget_stub_bg/5-0-1.png");}
.traliva__stub_widget.bg-5-0-2{background-image: url("_widget_stub_bg/5-0-2.png");}
.traliva__stub_widget.bg-5-0-3{background-image: url("_widget_stub_bg/5-0-3.png");}
.traliva__stub_widget.bg-5-0-4{background-image: url("_widget_stub_bg/5-0-4.png");}
.traliva__stub_widget.bg-5-0-5{background-image: url("_widget_stub_bg/5-0-5.png");}
.traliva__stub_widget.bg-5-1-0{background-image: url("_widget_stub_bg/5-1-0.png");}
.traliva__stub_widget.bg-5-1-1{background-image: url("_widget_stub_bg/5-1-1.png");}
.traliva__stub_widget.bg-5-1-2{background-image: url("_widget_stub_bg/5-1-2.png");}
.traliva__stub_widget.bg-5-1-3{background-image: url("_widget_stub_bg/5-1-3.png");}
.traliva__stub_widget.bg-5-1-4{background-image: url("_widget_stub_bg/5-1-4.png");}
.traliva__stub_widget.bg-5-1-5{background-image: url("_widget_stub_bg/5-1-5.png");}
.traliva__stub_widget.bg-5-2-0{background-image: url("_widget_stub_bg/5-2-0.png");}
.traliva__stub_widget.bg-5-2-1{background-image: url("_widget_stub_bg/5-2-1.png");}
.traliva__stub_widget.bg-5-2-2{background-image: url("_widget_stub_bg/5-2-2.png");}
.traliva__stub_widget.bg-5-2-3{background-image: url("_widget_stub_bg/5-2-3.png");}
.traliva__stub_widget.bg-5-2-4{background-image: url("_widget_stub_bg/5-2-4.png");}
.traliva__stub_widget.bg-5-2-5{background-image: url("_widget_stub_bg/5-2-5.png");}
.traliva__stub_widget.bg-5-3-0{background-image: url("_widget_stub_bg/5-3-0.png");}
.traliva__stub_widget.bg-5-3-1{background-image: url("_widget_stub_bg/5-3-1.png");}
.traliva__stub_widget.bg-5-3-2{background-image: url("_widget_stub_bg/5-3-2.png");}
.traliva__stub_widget.bg-5-3-3{background-image: url("_widget_stub_bg/5-3-3.png");}
.traliva__stub_widget.bg-5-3-4{background-image: url("_widget_stub_bg/5-3-4.png");}
.traliva__stub_widget.bg-5-3-5{background-image: url("_widget_stub_bg/5-3-5.png");}
.traliva__stub_widget.bg-5-4-0{background-image: url("_widget_stub_bg/5-4-0.png");}
.traliva__stub_widget.bg-5-4-1{background-image: url("_widget_stub_bg/5-4-1.png");}
.traliva__stub_widget.bg-5-4-2{background-image: url("_widget_stub_bg/5-4-2.png");}
.traliva__stub_widget.bg-5-4-3{background-image: url("_widget_stub_bg/5-4-3.png");}
.traliva__stub_widget.bg-5-4-4{background-image: url("_widget_stub_bg/5-4-4.png");}
.traliva__stub_widget.bg-5-4-5{background-image: url("_widget_stub_bg/5-4-5.png");}
/*color 6*/
.traliva__stub_widget.bg-6-0-0{background-image: url("_widget_stub_bg/6-0-0.png");}
.traliva__stub_widget.bg-6-0-1{background-image: url("_widget_stub_bg/6-0-1.png");}
.traliva__stub_widget.bg-6-0-2{background-image: url("_widget_stub_bg/6-0-2.png");}
.traliva__stub_widget.bg-6-0-3{background-image: url("_widget_stub_bg/6-0-3.png");}
.traliva__stub_widget.bg-6-0-4{background-image: url("_widget_stub_bg/6-0-4.png");}
.traliva__stub_widget.bg-6-0-5{background-image: url("_widget_stub_bg/6-0-5.png");}
.traliva__stub_widget.bg-6-1-0{background-image: url("_widget_stub_bg/6-1-0.png");}
.traliva__stub_widget.bg-6-1-1{background-image: url("_widget_stub_bg/6-1-1.png");}
.traliva__stub_widget.bg-6-1-2{background-image: url("_widget_stub_bg/6-1-2.png");}
.traliva__stub_widget.bg-6-1-3{background-image: url("_widget_stub_bg/6-1-3.png");}
.traliva__stub_widget.bg-6-1-4{background-image: url("_widget_stub_bg/6-1-4.png");}
.traliva__stub_widget.bg-6-1-5{background-image: url("_widget_stub_bg/6-1-5.png");}
.traliva__stub_widget.bg-6-2-0{background-image: url("_widget_stub_bg/6-2-0.png");}
.traliva__stub_widget.bg-6-2-1{background-image: url("_widget_stub_bg/6-2-1.png");}
.traliva__stub_widget.bg-6-2-2{background-image: url("_widget_stub_bg/6-2-2.png");}
.traliva__stub_widget.bg-6-2-3{background-image: url("_widget_stub_bg/6-2-3.png");}
.traliva__stub_widget.bg-6-2-4{background-image: url("_widget_stub_bg/6-2-4.png");}
.traliva__stub_widget.bg-6-2-5{background-image: url("_widget_stub_bg/6-2-5.png");}
.traliva__stub_widget.bg-6-3-0{background-image: url("_widget_stub_bg/6-3-0.png");}
.traliva__stub_widget.bg-6-3-1{background-image: url("_widget_stub_bg/6-3-1.png");}
.traliva__stub_widget.bg-6-3-2{background-image: url("_widget_stub_bg/6-3-2.png");}
.traliva__stub_widget.bg-6-3-3{background-image: url("_widget_stub_bg/6-3-3.png");}
.traliva__stub_widget.bg-6-3-4{background-image: url("_widget_stub_bg/6-3-4.png");}
.traliva__stub_widget.bg-6-3-5{background-image: url("_widget_stub_bg/6-3-5.png");}
.traliva__stub_widget.bg-6-4-0{background-image: url("_widget_stub_bg/6-4-0.png");}
.traliva__stub_widget.bg-6-4-1{background-image: url("_widget_stub_bg/6-4-1.png");}
.traliva__stub_widget.bg-6-4-2{background-image: url("_widget_stub_bg/6-4-2.png");}
.traliva__stub_widget.bg-6-4-3{background-image: url("_widget_stub_bg/6-4-3.png");}
.traliva__stub_widget.bg-6-4-4{background-image: url("_widget_stub_bg/6-4-4.png");}
.traliva__stub_widget.bg-6-4-5{background-image: url("_widget_stub_bg/6-4-5.png");}

/*debug panel and widgets*/
.traliva__debug_panel{
    color: #ffa;/*на время обкатки отладочной панели*/
    background: #000;
    border-bottom: 1px solid #48f;
}
.traliva__debug_panel *{
    font-family: Play;
    font-size: 16px;
}
.traliva__debug_panel__bn{
    /**/
    /*width: 100%;*/
    /*height: 100%;*/
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.traliva__debug_panel__bn:hover{
    background: #222;
}
.traliva__debug_panel__bn_back{
    background-image: url("debug_bn_back.png");
    cursor: pointer;
}
.traliva__debug_panel__bn_back:hover{
    background-image: url("debug_bn_back_hover.png");
}
.traliva__debug_panel__bn_forward{
    background-image: url("debug_bn_forward.png");
    cursor: pointer;
}
.traliva__debug_panel__bn_forward:hover{
    background-image: url("debug_bn_forward_hover.png");
}
.traliva__debug_panel__bn_enter{
    background-image: url("debug_bn_enter.png");
    cursor: pointer;
}
.traliva__debug_panel__bn_enter:hover{
    background-image: url("debug_bn_enter_hover.png");
}
.traliva__debug_panel__error{
    margin: 8px;
    color: #afa;
}
.traliva__debug_panel__states{
    //background: #000;
    background: rgba(0,0,0,0.9);
}
.traliva__debug_panel__states_states{
    /*border-bottom: 1px solid #48f;*/
}
.traliva__debug_panel__states_extender{
    color: #ffa;
    border-bottom: 1px solid #ffa;
}
.traliva__debug_panel__apply_state_button{
    color: #48f;
    border: 1px solid #48f;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    font-family: Play;
    font-size: 16px;
}
.traliva__debug_panel__apply_state_button:hover{
    background: #222;
}
.__debug_panel_url > input{
    margin-top: 5px;
    background: #000;
    color: #afa;
    border: 1px solid #afa;
    border-radius: 5px;
}
