#buttons_group .bn{
    margin: 4px;
    padding: 8px;
    border: 1px solid #666;
    border-radius: 5px;
    /*display: inline-block;*/
    cursor: default;
}
#buttons_group .bn p{
    text-align: center;
}
#buttons_group .bn:hover{
    background: #ddd;
}
