[submodule "project"]
	path = src/project
	url = ../nepeToolbar_proj.git
[submodule "traliva_kit"]
	path = traliva_kit
	url = ../nepeToolbar_kit.git
[submodule "src/build_scripts/targets"]
	path = src/build_scripts/targets
	url = ../nepeToolbar_platforms.git
