[submodule "project"]
	path = src/project
	url = ../kuku_proj.git
[submodule "traliva_kit"]
	path = traliva_kit
	url = ../kuku_kit.git
[submodule "src/build_scripts/targets"]
	path = src/build_scripts/targets
	url = ../kuku_platforms.git
