compiled/
targets/
__pycache__/
*.swp
*.swo
*~
src/build_scripts/utils/test_data/
src/project_compiled/
build_tests/ubuntu_desktop/qt4webkit
build_tests/ubuntu_desktop/Makefile
build_tests/ubuntu_desktop/*.o
build_tests/ubuntu_desktop/qrc_*
build_tests/ubuntu_desktop/moc_*
build_tests/ubuntu_desktop/*.user
build_tests/ubuntu_desktop/.qmake.stash

buils_tests/web_django/venv/
