<html>
<head>
<meta charset="utf-8"/>
<title>Stack</title>
<link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<body>
<a href="../index.html" style="font-size=2em;color:#f60;border:1px solid #f60;border-radius:5px;">НАВЕРХ</a>
<h1>Stack</h1>
<p>Данный лэйаут представляет собой многослойный контейнер - дочерние элементы лэйаута располагаются один поверх другого. Представляется объектом с обязательными свойствами type и items.</p>
<p>Опционально, данный элемент лэйаута может иметь свойство id - идентификатор, по которому в коде вдальнейшем можно будет получить доступ к данному элементу (Traliva.widgets.<id>, имеет тип <a href="../../../../../traliva_internals/widgets/stack/index.html">Traliva.Stack</a>).</p>
<p>Свойство type должно иметь значение 'stack'. По этому свойству фреймворк определяет тип элемента лэйаута.</p>
<p>Свойство items - массив с дочерними элементами лэйаута.</p>
<p>Пример:</p>
<c>{
    type: 'stack',
    items: [
        'my_beautifulWidget',
        {
            'type': 'strip',
            'orient': 'v',
            'items': [...]
        },
        {
            'type': 'stack',
            ...
        },
        'const myAnotherBeautifulWidget'
    ]
}</c>
</body>
</html>
