.traliva_kit__label{
    /*padding: 4px;*/
    margin: 5px;
    padding: 10px;
}
.traliva_kit__label div{
    margin: 5px;
}
.traliva_kit__bn{
    color: #666;
    /*background: #eee;*/
    margin: 5px;
    border: 1px solid #666;
    border-radius: 10px;
    text-align: center;
    font-size: 32px;
    cursor: pointer;
}
.traliva_kit__bn:hover{
    background: #fa8;
}
.traliva_kit__bn.active{
    background: #ffa;
}
.traliva_kit__bn.active:hover{
    background: #fa8;
}
.traliva_kit__lineedit{
    color: #666;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 10px;
    margin: 4px;
    background: rgba(0,0,0,0);
}
/*.traliva_kit__lineedit::placeholder{
    color: red;
}*/
.traliva_kit__fileselect{
    color: #666;
    border: 1px solid #666;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    margin: 4px;
}
.traliva_kit__fileselect:hover{
    background: #fa8;
}
.traliva_kit__simplelist{
    color: #48f;
    width: 100%;
}
.traliva_kit__simplelist div.selected{
    color: #f80;
}
.traliva_kit__simplelist tr:hover{
    background: #004;
}
