<html>
<head>
<meta charset="utf-8"/>
<title>Формат описания лейаута</title>
<link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<body>
<a href="../index.html" style="font-size=2em;color:#f60;border:1px solid #f60;border-radius:5px;">НАВЕРХ</a>
<h1>Формат описания лейаута</h1>
<p></p>
<p>Лэйаут представляет собой описание компоновки пользовательских виджетов (которые описываются отдельно в свойстве <ww>widgets</ww> объекта, передаваемого параметром в функцию <ww>Traliva.init()</ww>).</p>
<p>При компоновке используются контейнеры виджетов. Фреймворк Тралива содержит контейнеры виджетов двух типов:</p>
<ul>
<li><ww>strip</ww> - линейный контенер - либо элементы в столбец, либо в строку</li>
<li><ww>stack</ww> - многослойный контейнер - все элементы располагаются один поверх другого. Применим для тех областей, где одни виджеты должны сменить другие.</li>
</ul>
<p>Лэйаут - это JavaScript-объект, в который вложены другие объекты, в которые, в свою очередь, могут быть вложены свои объекты... Лэйаут обязательно должен иметь тип (свойство <ww>type</ww>): <ww>'strip'</ww>, <ww>'stack'</ww>, <ww>'widget'</ww> или <ww>'const_widget'</ww>.</p>
<p>Помимо свойства <ww>type</ww> также можно задать свойство <ww>id</ww>(строка), которое задаёт идентификатор соответвующего виджета (любой лэйаут описывает какой-то виджет), к которому из кода впоследствии можно будет получить доступ последством объекта <ww>Traliva.widgets.заданный_идентификатор</ww>.</p>
<p>Вы можете указать свойство <ww>bg</ww>(строка). Это цвет фона. Если не указать, то у виджета не будет фона (т.е. фон будет прозрачным). Указывается в том виде, как это делается в CSS (например, <ww>'#ffa'</ww> или <ww>'rgba(0,0,0,0.2)'</ww>). Если указать в качестве цвета фона пустую строку, то фон будет взят у ближайшего родительского элемента, у которого он задан (если такой не будет найден, фон останется прозрачным)</p>
<subdiv>
<p>Элемент типа <ww>strip</ww> (линейный контейнер) должен иметь следующие свойства (помимо <ww>'type'</ww>):</p>
<ul>
<li><ww>orient</ww> - ориентация: может иметь значение <ww>'v'</ww>(дочерние элементы в столбец) или <ww>'h'</ww>(дочерние элементы в строку)</li>
<li><ww>items - массив объектов-обёрток над дочерними элементами.</ww></li>
</ul>
<p>Объект-обёртка дочернего элемента для линейного контейнера может имеьт два свойства:</p>
<ul>
<li><ww>size</ww>(необязательное свойство) - размер (тип строка). Поддерживаемые единицы измерения - <ww>'px'</ww>(пиксели) и <ww>'part'</ww>(часть от оставшегося после элементов с размерами в пикселях места). Например, '32px', '2 part'(с пробелом), '2part'. Если в контейнере подряд идут элементы с размерами '2part','32px' и '1part', то второй элемент будет иметь размер 32 пикселя, а первый и третий элементы поделят между собой оставшееся место в соотношении 2 к 1 соответственно. Значение по умолчанию - '1 part'.</li>
<li><ww>widget</ww>(необязательное свойство) - дочерний элемент</li>
</ul>
<p>Объект <ww>{}</ww>, переданный в качестве объекта-обёртки дочернего элемента, означает "пружинку".</p>
</subdiv>
<subdiv>
<p>Элемент типа <ww>stack</ww> (многослойный контейнер) должен иметь следующие свойства (помимо <ww>'type'</ww>):</p>
<ul>
<li><ww>items - массив дочерних элементов</ww></li>
</ul>
</subdiv>
<subdiv>
<p>Элемент типа <ww>widget</ww> - пользовательский виджет (который наследуется от <ww>Traliva.WidgetStateSubscriber</ww> и указывается в свойстве <ww>widgets</ww> объекта, передаваемого параметром функции <ww>Traliva.init()</ww>) - задаётся не объектом, а строкой - идентификатором виджета, по которому функция <ww>Traliva.init()</ww> будет искать в свойстве объекта, передаваемого параметром, <ww>widgets</ww>. Если же в поле <ww>widgets</ww> не найден соответвующий конструктор, будет создана заглушка - виджет, на котором отображается id_виджета и цвет фона имеет уникальное в рамках всего веб-приложения значения.</p>
</subdiv>
<subdiv>
<p>Элемент типа <ww>const_widget</ww> полностью аналогичен элементу типа <ww>widget</ww> с тем лишь исключением, что при динамической подгрузке контента (планируется добавить такую функциональность в следующей версии спецификации), при попытке подменить класс, представляюший данный виджет, в консоль будет выведено сообщение об ошибке и виджет не будет заменён.</p>
</subdiv>
<p>В случае, если контейнеры вам не нужны, и вы хотите видеть пользовательский виджет на всё окно, укажите идентификатор пользовательского виджета (тип строка) в качестве лэйаута.</p>
<p>Пример лэйаута:</p>
<c>
Traliva.init({
    ...
    layouts:{
        small:{
        },
        normal:{ // <-- вот он, лэйаут
            type: 'strip',
            orient: 'v',
            items:[
                {
                    widget:{
                        type: 'strip',
                        orient: 'h',
                        items:[
                            {
                                widget: 'header__bnCatalogue',
                                size: '128px'
                            },
                            {
                                widget: 'header__bnSaved',
                                size: '128px'
                            },
                            {}, // stretch
                            {
                                widget: 'header_right__bnAuth',
                                size: '64px'
                            }
                        ]
                    },
                    size: '64px'
                },
                {//здесь контент будет меняться в зависимости от выбранной вкладки, занимать всё доступное место
                    widget:'main_scene'
                },
                {
                    // footer
                    widget: 'footer_stub',
                    size: '64px'
                }
            ]
        },
        large:{
        }
    },
    ...
});
</c>
</body>
</html>
